<% layout('./layouts/boilerplate.ejs') %>
<body style="display: flex; justify-content: center; align-items: center; background-color: #090909;">
  <div style="text-align: center;">
    <% for (let data of datas) { %>
      <div class="card" style="background-color: #192734; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); color: #FFFFFF; width: 20rem; margin: 1rem auto; padding: 1rem;">
        <% if (data.image) { %>
          <img src="<%= data.image %>" class="card-img-top" alt="Card image" style="width: 100%; height: auto; border-radius: 10px; margin-bottom: 1rem;">
        <% } else if (data.video) { %>
          <video controls style="width: 100%; border-radius: 10px; margin-bottom: 1rem;">
            <source src="<%= data.video %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        <% } %>
        <div class="card-body">
          <p class="card-text" style="font-size: 1rem; line-height: 1.5; margin-bottom: 0.5rem;"><%= data.description %></p>
        </div>
      </div>
    <% } %>
  </div>
</body>
