<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="/css/search.css">

<body>
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search">
        <div class="recent-title">Recent</div>
        <div class="no-recent-searches">No recent searches.</div>
    </div>
</body>
